/*style for show experiences in admin site*/

.admin-show-experience {
    @include standard-container;
    .admin-experience {
        margin: 2em auto;
        background-color: $beige;
        box-sizing: border-box;
        padding: 2em;
        width: 50%;
    }
    h3 {
        font-size: 2em;
        font-weight: bold;
    }
    p {
        margin: 0.5em 0 2em 0;
    }
    a {
        margin: 0.5em 0 2em 0;
        display: block;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    .submit-btn {
        display: block;
        font-family: $text;
        font-size: 1.2em;
        width: 100%;
        box-sizing: border-box;
        border: none;
        background-color: #bc8373;
        color: white;
        padding: 1em;
        margin-top: 1em;
        &:hover {
            background-color: black;
        }
    }
}

#error-div, #message-div {
    p {
        margin: 3em 0 0 0.5em;
        color: $pink;
        font-weight: bold;
    }
}

#errorMsg {
    display: block;
    width: 100%;
    text-align: center;
    padding: 3em 0;
}

/*style for tablet to show experiences in admin site*/
@include tablet {
    .admin-show-experience {
        .admin-experience {
            width: 70%;
        }
        
    }
}

/*style for phone to show experiences in admin site*/
@include phone {
    .admin-show-experience {
        .admin-experience {
            width: 98%;
        }
        
    }
}