/*style for forms*/

form {
    width: 50%;
    box-sizing: border-box;
    margin: 2em auto;
    background-color: $beige;
    padding: 2em;
    input {
        width: 100%;
        display: block;
        box-sizing: border-box;
        font-family: $text;
        margin: 0.5em 0 2em 0;
        padding: 1em;
        font-size: 1.2em;
        border: none;
    }
    input[type=submit]{
        background-color: $pink;
        color: $white;
        margin-top: 2em;
        &:hover {
            background-color: $black;
        }
    }
    label {
        font-size: 1.4em;
        padding: 1.5em 0 0 0;
    }
}

/*style for forms for tablets*/
@include tablet {
    form {
        width: 70%;
    }
}


/*style for forms for phone*/
@include phone {
    form {
        width: 98%;
    }
}
